body {
    margin: 0px;
    padding: 0px;
    background-image: url(pc_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#flow {
    animation: y ease-in-out 6s;
    overflow-y: auto;
}

@keyframes y {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: auto;
    }
}

#flow-1 {
    animation: y-1 ease-in-out 20s;
    overflow-y: auto;
}

@keyframes y-1 {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: auto;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background: white;
    background-image: url(152.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

#showMe {
    animation: load-1 ease-in-out 10s;
    height: 0%;
    opacity: 0;
}

@keyframes load-1 {
    0% {
        opacity: 1;
        height: 100%;
    }
    94% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0.5;
        height: 0%;
    }
}

#loading {
    animation: load ease-in-out 3s;
    height: 0%;
    opacity: 0;
}

@keyframes load {
    0% {
        opacity: 1;
        height: 100%;
    }
    80% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0.5;
        height: 0%;
    }
}

@media(max-width:900px) {
    body {
        background-image: url(pe_bg.jpg);
    }
    .phone1 iframe {
        width: 100%;
    }
    .phone2 {
        height: auto;
    }
}

.phone {
    width: 100%;
}

@media(min-width:576px) {
    .cowright {
        text-align: right;
    }
    .cowleft {
        text-align: left;
    }
}

@media(max-width:520px) {
    .daxiao {
        font-size: 5vmin;
    }
}

.logosize {
    width: 35vh;
}

.pic {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.pic:hover {
    color: darkorange;
    font-weight: bold;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

img.square {
    width: 200px;
    border-radius: 50%;
    border: 2px solid darkblue;
}

.photoimg {
    border-radius: 10px;
}

.ph-class {
    font-size: 12vmin;
}

.ph-mar {
    height: 30vh;
}

.ml1 {
    font-weight: 900;
    font-size: 5vmin;
    text-align: center;
    color: red;
    -webkit-text-stroke: 0.8px black;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: magenta;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

.ml10 {
    position: relative;
    font-weight: 1000;
    font-size: 13vmin;
    text-align: center;
    color: gold;
    -webkit-text-stroke: 1px black;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

.ml11 {
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    color: hotpink;
    -webkit-text-stroke: 1px white;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: pink;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}